body{
    
    padding: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    width:80%;
    margin: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Yh3Xi1n1BpXXeNcyOemlR1pAA2gOXamwzQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size:cover;

   
}
html{
    height:100%;
}
h1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Yh3Xi1n1BpXXeNcyOemlR1pAA2gOXamwzQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
}
p{
    margin-top: 3%;
    font-size: 20px;
}
div{
    margin-top: 1%;
    margin-left: 5%;
}
a>i{
    float: right;
    color: black;
    margin-right: 2px;
}