body{
    border:20px solid #bdc3c7;
    padding: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    width:50%;
    margin: auto;
}
.borders{
    border-left: 10px solid #bdc3c7;
}
p{
    font-weight: 500;
}
.date{
    text-transform: uppercase;
    color: #3498db;
    letter-spacing: .2rem;
    font-weight: 700;
}
h1{
    color: #2c3e50;
}
hr{
    color: #333;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 20px;
    margin-bottom: 20px;
}
i{
    float: right;
}